@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
body {
    background-image: url("./kuco.png");
    background-size: 14%;
    background-repeat: no-repeat;
    background-position: center right 20%;
}

.content {
    max-width: 50%;
    margin: 10px auto;
    padding: 20px;
}