@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}
body {
    background-image: url("./kucoMask.png");
    background-size: 360px 730px;
    background-repeat: no-repeat;
    background-position: right 10% top 150px;
    width: 100%;
}

.content {
    max-width: 50%;
    margin: 10px auto;
    padding: 20px;
    padding-bottom: 50px;
}